<div class="m-4">
  <form method="POST">
    <div class="form-group">
      <label for="search-input">Từ Khóa</label>
      <input type="text" name="q" class="form-control" id="search-input"placeholder="tìm kiếm">
    </div>

    <div class="form-group">
      <label for="gender-input">Từ Khóa</label>
      <select type="gender" name="q" class="form-control" id="gender-input">
        <option value="">chon gioi tinh</option>
        <option value="male">nam</option>
        <option value="female">nu</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">tìm kiếm</button>
  </form>
</div >